extends layout 
 
block content 
  h1= title

  if(toShow==null)
    h2 No instance to delete
  else
  - let candyid = toShow._id 
  - let candy_name = toShow.candy_name 
  - let candy_flavor = toShow.candy_flavor 
  - let candy_cost = toShow.candy_cost
  - let actionid = "/resource/candies/" + candyid
  script let actionid="#{actionid}"
  div
  div.row
    div(class='candyAttr mb-3') Candy ID is: 
    div #{candyid}
  div.row
    div(class='candyAttr mb-3') Candy Name is: 
    div #{candy_name}
  div.row
    div(class='candyAttr mb-3') Candy flavor is: 
    div #{candy_flavor}
  div.row
    div(class='candyAttr mb-3') Candy cost is: 
    div #{candy_cost}

  button(class="btn btn-danger m-2" onClick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onClick="cancel()") Cancel

  script. 
    function cancel() {
      // Go back to the home page for the candy collection
      window.location.href='/candies'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'   // Don't need a body for the delete
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded")
        window.location.href='/candies'
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 