extends layout
block content
 h1(class='title')= title
 if (toShow == null) 
    h2 No instance to display
 else
  - let candyid = toShow._id
  - let candy_name = toShow.candy_name
  - let candy_flavor = toShow.candy_flavor
  - let candy_cost = toShow.candy_cost
  div
   div.row
   div(class='heading') Candy ID is:
   div #{candyid}
   div.row
   div(class='heading') Candy Name is:
   div #{candy_name}
   div.row
   div(class='heading') Candy Flavor is:
   div #{candy_flavor}
   div.row
   div(class='heading') Candy cost is:
   div #{candy_cost}